* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*Layout*/
:root {
    --header-height: 90px;
}


body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    margin-top: var(--header-height);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

/*Common*/
/*Header*/

header {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 90px;
    background-color: white;
}

header img  {
    width: 70px;
}

.header-nav {
    color: rgb(16, 5, 5);
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}
header li {
    height: 100%;
    display: flex;
    align-items: center;
}



/*Hero*/

.hero-bg {
    height: 300px;
    position: relative;
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
   
}



/*Main*/


main {
    background-color: rgb(40, 40, 40);
    color: white;
}

main button {
    background-color: rgb(56, 145, 255);
    text-transform: uppercase;
    color: inherit;
   font-weight: 600;
   width: 20%;
   padding: 10px 40px;
   border: none;
   margin: 20px 20px;
  cursor: pointer;
}

.col {
   width: calc((100% - 50px) / 6);
   margin-bottom: 50px;
   }

   .col a {
    display: block; 
    width: 100%;    
    height: 150px;  
}

.col a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.col h5 {
    padding-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}


.badge-title {
    background-color: rgb(56, 145, 255);
    display: inline;
    padding: 10px 20px;
    text-transform: uppercase;
    position: absolute;
    top: 44%;
}

/*Bonus*/

.bg-bonus {
    background-color: rgb(56, 145, 255);
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    position: relative;
    
}

.bg-bonus img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.link {
   width: 50px;
   height: 50px;
   padding: 5px;
}

/*Faq*/

.faq-bg {
    background-image: url(/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
  
}

.faq-bg nav ul {
    margin-top: 30px;
}

.faq-bg nav h4 {
    color: white;
    padding: 10px 0;
}

.faq-bg nav a {
    color: rgb(137, 136, 136);

}

 .logo-bg {
    background-image: url(/img/dc-logo-bg.png);
    background-size: cover;
    
} 

/*Footer*/

footer {
    background-color: rgb(50, 50, 50);
}


.sign-up-button {
    background-color: inherit;
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-color: rgb(6, 133, 236);
    text-transform: uppercase;
    padding: 10px 20px;
}

footer span {
    color: rgb(26, 121, 215);
    text-transform: uppercase;
    font-weight: 900;
}

/*Utilities*/

.flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-25 {
    gap: 25px;
}

.py-10 {
    padding: 10px 0;
}

.py-40 {
    padding: 40px 0;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;

}

.w-60 {
    width: 60%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.active {
    border-bottom: 3px solid rgb(26, 121, 215);
    font-weight: 800;
    color: rgb(26, 121, 215);
}


